*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e202b;
    /* font-family: 'Titillium Web', sans-serif; */
}
.navbar-nav .nav-link.active,.nav-link{
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
}
.navbar-brand img{
    width: 70px;
}
.navbar-brand .logo p{
    font-size: 13px;
}
.navbar-nav .nav-link.active{
    border-color: #009ad8;
    color: #009ad8;
}
.nav-link:focus, .nav-link:hover {
    border-color: #009ad8;
    color: #009ad8;
}

#Home{
    background-image: url('../images/banner.png');
    background-position: top center;
    background-repeat: no-repeat;
}
.form-control {
    background-color:  #1e202b; 
}
.form-control:focus {
    background-color:  #1e202b;
    box-shadow: none;
}
.form-control::placeholder{
    color: rgb(191, 193, 200);
}
.card-body span img{
    width: 20px;
}
.card-group .card-header{
    background-color: #2D303D;
    color: rgb(191, 193, 200);
}
.card-group .day2 .card-header{
    background-color: #222530;
}
.card-group .card-body {
    background-color: #323544;
    color: rgb(191, 193, 200);
}
.degree{
    color: rgb(191, 193, 200);
}
.card-group .day2 .card-body{
    background-color: #262936;
}
.card .custom{
    color: #009ad8;
}

#contact .bg{
    background-color: #262936;
    color: rgb(191, 193, 200);
}
#contact .bg a{
    color: rgb(191, 193, 200);
    text-decoration: none;
}
#contact .bg i{
    font-size: 10px;
}

a:hover {
    --bs-link-color-rgb: rgb(191, 193, 200);
}
.info{
    background-color: #262936;
    color: rgb(191, 193, 200);
    height: 350px;
    border-radius: 10px;
}
.info i{
    color: #009ad8;
}
#contact p{
    color: rgb(191, 193, 200);
}
.form-control.cont-input {
    border-color:  rgb(191, 193, 200);
}
.form-control.cont-input:focus,.form-control.cont-input:hover{
    border-color: #009ad8;
    box-shadow: none;
}

footer{
    background-color: #323544;

}
footer .icons i{
    background-color:  #1e202b;
    color: #009ad8;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.3s;
}
footer .icons i:hover{
    color: white;
    background-color: #009ad8;
    cursor: pointer;
}
footer p{
    color: rgb(191, 193, 200);
    font-size: 14px;
}
@media (min-width: 826px) {
    .card-group {
        display: flex !important; 
        flex-flow: row wrap !important; 
    }
}
